<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-md">

        <div class="d-flex align-items-center me-sm-3 position-relative" style="cursor: pointer;">
            <img src="/assets/img/favicon.svg" alt="" width="32">
            <a class="navbar-brand ms-2 stretched-link" href="/">Alberto MH</a>
        </div>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between ps-2 ps-lg-0" id="navbarContent">
            <ul class="navbar-nav mt-2 mt-sm-0">
                <li class="nav-item me-sm-2">
                    <a class="nav-link {% if page.url == '/' or page.url =='/posts/' %}active{% endif %}" href="/">
                        <i class="bi bi-square me-2 me-lg-1 d-lg-none text-white"></i>{{ "_includes.navbar.posts" | translate(page.lang) }}
                    </a>
                </li>
                <li class="nav-item me-sm-2">
                    <a class="nav-link {% if '/about' in page.url %}active{% endif %}" href="/about">
                        <i class="bi bi-square me-2 me-lg-1 d-lg-none text-white"></i>{{ "_includes.navbar.about" | translate(page.lang) }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-sm-0">
                <li class="nav-item me-sm-2">
                    <a class="nav-link" href="/assets/pdf/AlbertoMH_CV.pdf" target="_blank">
                        <i class="bi bi-file-earmark-pdf-fill me-2 me-lg-1"></i>{{ "_includes.navbar.cv" | translate(page.lang) }}
                    </a>
                </li>
                <li class="nav-item me-sm-2">
                    <a class="nav-link" href="https://github.com/albertomh/" target="_blank">
                        <i class="bi bi-github github me-2 me-lg-1"></i>GitHub
                    </a>
                </li>
                <li class="nav-item me-sm-2">
                    <a class="nav-link" href="https://www.linkedin.com/in/albertomoronh/" target="_blank">
                        <i class="bi bi-linkedin linkedin me-2 me-lg-1"></i>LinkedIn
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
