#   IDEs & tools ───────────────────────────────────────────────────────────────
.idea
*.iws
*.iml
*.ipr

.vscode/


#   NPM & Parcel ───────────────────────────────────────────────────────────────
node_modules/
.parcel-cache/


#   Build process ──────────────────────────────────────────────────────────────
_site/
dist/

#   Misc ---------──────────────────────────────────────────────────────────────
.DS_Store
