<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- SEO & Social -->
        <meta name="description" content="{{ blurb or metadata.blurb }}">
        <meta name="robots" content="follow">
        <link rel="canonical" href=https://www.albertomh.com{{ page.url }}>

        <meta property="og:title" content="Alberto MH" />
        {% set articleRE = r/\/[0-9]{4}\/.*/g %}
        <meta property="og:type" content="{% if articleRE.test(page.url) %}article{% else %}website{% endif %}" />
        <meta property="og:url" content="https://www.albertomh.com{{ page.url }}" />
        <meta property="og:image" content="https://www.albertomh.com/assets/img/opengraph{{ page.url | trim('/') }}.png" />
        <meta property="og:description" content="{{ blurb or metadata.blurb }}" />
        {% set articleRE = r/\/[0-9]{4}\/.*/g %}
        {% if articleRE.test(page.url) %}
        <meta property="article:author" itemprop="author" content="Alberto Morón Hernández"/>
        <meta property="article:published_time" itemprop="datePublished" content="{{ createdAt or metadata.createdAt }}T09:00:00+00:00"/>
        <meta property="article:modified_time " itemprop="dateModified" content="{{ updatedAt or metadata.updatedAt }}T09:00:00+00:00"/>
        {% endif %}
        <meta property="og:updated_time" itemprop="dateUpdated" content="{{ updatedAt or metadata.updatedAt }}T09:00:00+00:00"/>

        <meta name="twitter:card" content="summary">
        <meta property="twitter:domain" content="albertomh.com">
        <meta property="twitter:url" content="https://www.albertomh.com{{ page.url }}">
        <meta name="twitter:title" content="Alberto MH">
        <meta name="twitter:image" content="https://www.albertomh.com/assets/img/opengraph{{ page.url | trim('/') }}.png">
        <meta name="twitter:description" content="{{ blurb or metadata.blurb }}">

        {% if title %}
            <title>{{ title }} | {{ metadata.title }}</title>
        {% else %}
            <title>{{ metadata.title }}</title>
        {% endif %}

        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">

        <link rel="stylesheet" href="/assets/css/main.css">

        <!-- Preload assets. -->
        <link rel="preload" href="/assets/img/2021-12_profile.jpg" as="image">
    </head>

    <body>

        {% include 'navbar.njk' %}

        <main class="container-md">
            {{ content | safe }}
        </main>

        {% include 'footer.njk' %}

        <script src="/assets/js/main.js"></script>
    </body>

</html>
