---
layout: base
---

<div class="row pb-4">
    <article class="col col-md-7 ms-2 ms-lg-0 pt-1 pt-md-3 ps-md-4 ps-lg-5">

        <div class="row">
            <div class="col-12 col-lg-10 mt-2 mt-md-0 mb-3">
                <h1 class="display-6 mb-2">{{ title }}</h1>
                <p class="text-muted mb-1">Published on <span class="font-monospace">{{ createdAt }}</span></p>
                {% if updatedAt %}
                    <p class="text-muted mb-1">Revised on <span class="font-monospace">{{ updatedAt }}</span></p>
                {% endif %}
            </div>
        </div>

        {{ content | safe }}

        <hr>
        <p class="text-muted small">
            {{ attribution | safe }}
        </p>

    </article>
</div>
