//  Post-specific dropcaps ─────────────────────────────────────────────────────
// [stackoverflow.com/a/70899698]

.dropcap::first-letter {
    font-family: monospace;
    background-size: contain;
    background-repeat: no-repeat;
    background-center: center center;
    float: left;
    font-size: 5.2em;
    line-height: 0.85;
    color: transparent;
    margin-right: 0.05em;
    margin-top: 0.05em;
    background-image: var(--dropcap-url);
}
