---
layout: post
title: An in-memory jester in King Java's court
blurb: Say goodbye to long setup times in JUnit suites by mocking datasources with the H2 database engine. Easily apply SQL scripts, reset state between runs, and capture & test log output.
createdAt: '2022-05-09'
updatedAt: '2022-05-09'
path: /2022/mocking-datasources
tags: ['post', 'project']
---
<div class="row pb-4">
    <article class="col ms-2 ms-lg-0 pt-1 pt-md-3 ps-md-4 ps-lg-5">

        <div class="row">
            <div class="col-12 col-lg-10 mt-2 mt-md-0">
                <h1 class="display-2 mb-2">{{ title }}</h1>
                <p class="text-muted">Published on <span class="font-monospace">{{ updatedAt }}</span></p>
            </div>
        </div>

    </article>
</div>
