---
--layout: post
title: The Article with a Title
blurb: Lorem ipsum
createdAt: '1970-01-01'
updatedAt: '1970-01-01'
path: /YYYY/slug
--tags: ['post', 'project']
---
<article class="col ms-2 ms-lg-0 pt-1 pt-md-3 ps-md-4 ps-lg-5">

    <div class="row">
        <div class="col-12 col-lg-10 mt-2 mt-md-0">
            <h1 class="display-2 mb-2">The Article with a Title</h1>
            <p class="text-muted">Published on <span class="font-monospace">{{ updatedAt }}</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">

            <div class="alert alert-primary bg-white mb-4" role="alert">
                <p class="h4"><i class="bi bi-clouds-fill me-1"></i> Summary</p>
                <ul class="content">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li>There are many variations of passages of Lorem Ipsum available.</li>
                </ul>
            </div>

            <p class="content dropcap" style="--dropcap-url: url('/assets/img/dropcap/YYYY/slug.svg');">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank">Lorem Ipsum</a> passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p class="content">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <p class="content end-acorn mb-5">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>

            <hr>
            <p class="text-muted small">
                Main image made by remixing <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a> (MIT license).
                <br>
                Dropcap background: <a href="" target="_blank"><em>Title</em> (YYYY)</a> by William Morris, licensed under CC0.
            </p>

        </div>
    </div>

</article>
