---
layout: base
---
<div class="row">
    <section class="col mx-2 mx-lg-0 pt-1 pt-md-3 ps-0 ps-md-4 ps-lg-5">

        {% for post in collections.post | byCreatedAt %}
            <div class="row post">
                <div class="col-lg-10 col-xxl-8">
                    {% include 'post-link.njk' %}
                </div>
            </div>
        {% endfor %}

    </section>
</div>
